@import '../vars';

.site-header{
    padding: 20px 0px;
    position: relative;
    &.site-header--inverted{
        z-index: 2;
        .site-menu__link{
            color: $white;
        }
    }
}
.site-header__inner{
    @media screen and (min-width: $smartphone){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.site-header__logo{
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 20px;
    @media screen and (min-width: $smartphone){
        margin-bottom: 0px;
    }
}
.site-header__button{
    background: none;
    border: 2px solid $darkText;
    color: $darkText;
    border-radius: 100px;
    font-size: 1.1em;
    padding: 5px 20px;
    @media screen and (min-width: $tablet){
        display: none;
    }
    &.site-header__button--inverted{
        color: $white;
        border-color: $white;
    }
}

// DESKTOP NAVIGATION
.site-header__navigation{
    display: none;
    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }
}
.site-menu{
    margin-top: 20px;
    list-style-type: none;
}
.site-menu__item{
    display: inline-block;
    margin-left: 25px;
}
.site-menu__link{
    color: $darkText;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    &:hover{
        text-decoration: underline
    }
}