@import '../vars';

.service-suitability-panel{
    background: $background;
    padding:40px 0px;
    color: $darkText;
    @media screen and (min-width: $tablet){
        padding: 60px 0px;
    }
}

.service-suitability-panel__inner{
    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row;
        .service-suitability-panel__column{
            flex: 1;
            margin-right: 40px;
        }
    }
}

.service-suitability-panel__title{
    font-size: 1.3em;
    margin-bottom: 15px;
    @media screen and (min-width: $desktop){
        font-size: 1.4em;
        margin-bottom: 20px;
    }
}

.service-suitability-panel__list{
    margin-bottom: 35px;
    list-style: none;
}

.service-suitability-panel__item{
    margin-bottom: 10px;
    @media screen and (min-width: $desktop){
        font-size: 1.1em;
        margin-bottom: 15px;
    }
    &:before{
        content: "";
        display: inline-block;
        margin-right: 10px;
        width: 18px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./tick.svg');
        @media screen and (min-width: $desktop){
            margin-right: 15px;
        }
    }

}

