@import "../vars";

.recommendation-toggle{
    background: $darkText;
    padding: 20px;
    text-align: center;
    color: white;
    // font-weight: bold;
    border: none;
    display: block;
    width: 100%;
    font-size: 1.1em;
    cursor: pointer;
    @media screen and (min-width: $tablet) {
        display: none;
    }
    position: relative;
    // z-index: 2;
}

.recommendation-toggle__icon{
    margin-right: 10px;
    display: inline-block;
    // width: 15px;
    height: 13px;
}

.recommendation-filters{
    padding: 15px 20px;
    background: $shadow;
    display: none;
    @media screen and (max-width: $tablet) {
        &.recommendation-filters--open{
            display: block;
            .filter-button{
                display: block;
                text-align: left;
                width: 100%;
            }
        }
    }
    @media screen and (min-width: $tablet) {
        margin-bottom: 15px;
        background: none;
        padding: 0px 30px;
        display: block;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .share-button{
        display: none;
        @media screen and (min-width: $desktop) {
            display: flex;
        }
    }
}


.filter-button{
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    color: $darkText;
    margin-right: 20px;
    padding: 10px 0px;
    display: inline-block;
    &:after{
        content: "";
        height: 12px;
        width: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        position: absolute;
        right: 0px;
        margin-left: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231E2428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &.filter-button--active{
        font-weight: bold;
    }
    @media screen and (min-width: $tablet){
        &:after{
            position: inherit;
            right: 0px;
            margin-left: 7px;
        }
    }
}


.share-button--for-list{
    display: none;
    @media screen and (min-width: $desktop){
        font-size: 1em;
        background: none;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        &:before{
            margin-right: 10px;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: $darkText;
            content: "";
            display: inline-block;
            background-image: url("./send.svg");
            background-size: 19px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &:hover{
            &:after{
                background-color: lighten($darkText, 5)
            }
        }
    }

}