@import '../vars';

.card{
    margin-bottom: 20px;
    @media screen and (min-width: $tablet){
        margin-bottom: 30px
    }
}

.card__body{
    padding: 25px;
    flex: 1;
}

.card__image{
    width: 100%;
    height: auto;
    // TODO: object-fit: cover if supported?
}

.card__link{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    background: $white;
    box-shadow: 0px 4px 0px $shadow;
    &:active{
        transform: translateY(4px);
        background: $activeCard;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 0 3px $focus;
    }
}

.card__title{
    font-size: 1.3em;
    color: $darkText;
    margin-bottom: 10px;
}

.card__description{
    font-size: 0.95em;
    color: $lightText;
}