@import '../vars';

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(2px)
    }
    to{
        opacity: 1;
        transform: translateY(0px)
    }
}

.service-card{
    margin-bottom: 20px;
    background: $white;
    list-style-type: none;
    padding: 25px 25px 15px 25px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 0 $shadow;
    border-top: 7px solid $white;
    animation: fadeInUp 0.1s ease-out;
    @media screen and (min-width: $tablet){
        margin-bottom: 30px
    }
    // &:focus-within{
    //     outline: none;
    //     box-shadow: 0 0 0 3px $focus;
    // }
    &:active{
        transform: translateY(4px);
        background: $activeCard;
    }

    &.service-card--active{
        border-color: $active;
        .service-card__parent-org{
            color: $active;
        }
    }
    &.service-card--social{
        border-color: $social;
        .service-card__parent-org{
            color: $social;
        }
    }
    &.service-card--learning{
        border-color: $learning;
        .service-card__parent-org{
            color: $learning;
        }
    }
    &.service-card--support{
        border-color: $support;
        .service-card__parent-org{
            color: $support;
        }
    }
    &.service-card--cultural{
        border-color: $cultural;
        .service-card__parent-org{
            color: $support;
        }
    }
}

.service-card__link{
    text-decoration: none;
    display: block;
    &:after{
        content: "";
        display: block;
        position: absolute;
        // border: 1px solid red;
        top: -7px;
        left: 0;
        width: 100%;
        height: calc(100% + 7px);
    }
    &:focus{
        outline: none;
        box-shadow: none;
        &:after{
            outline: none;
            box-shadow: 0 0 0 3px $focus;
        }
    }
}

.service-card__title{
    font-size: 1.3em;
    color: $darkText;
    margin-bottom: 10px;
}

.service-card__description{
    font-size: 0.95em;
    color: $lightText;
}

.service-card__footer{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service-card__features{
    font-size: 0.9em;
    color: $lightText;
    // font-style: italic;
    margin-right: 20px;
}
