@import '../vars';

.service-card{
    margin-bottom: 20px;
    background: $white;
    padding: 25px;
    position: relative;
    box-shadow: 0 4px 0 $shadow;
    border-top: 10px solid;
    @media screen and (min-width: $tablet){
        margin-bottom: 30px
    }
    &:focus-within{
        outline: none;
        box-shadow: 0 0 0 3px $focus;
    }
    &:active{
        transform: translateY(4px);
        background: $activeCard;
    }

    &.service-card--active{
        border-color: $active;
    }
    &.service-card--social{
        border-color: $social;
    }
    &.service-card--learning{
        border-color: $learning;
    }
    &.service-card--support{
        border-color: $support;
    }
    &.service-card--cultural{
        border-color: $cultural;
    }
}

.service-card__link{
    text-decoration: none;
    display: block;
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.service-card__title{
    font-size: 1.3em;
    color: $darkText;
    margin-bottom: 10px;
}

.service-card__description{
    font-size: 0.95em;
    color: $lightText;
}

.service-card__footer{
    padding-top: 20px;
}

.service-card__distance{
    font-size: 0.9em;
    color: $lightText;
}
