@import '../vars';

.option-bubble{
    margin: 5px;
    width: 100%;
    height: 60px;
    &:focus-within{
        .option-bubble__label{
            outline: none;
            box-shadow: 0 0 0 3px $focus;
        }
    }
    @media screen and (min-width: $tablet){
        width: 30%;
    }
}

.option-bubble__input:checked + .option-bubble__label{
    background-color: $darkText;
    color: $white;
    .option-bubble__helptext{
        color: $white;
    }

    &.option-bubble__label--active{
        background-color: darken($active, 30)
    }
    &.option-bubble__label--support{
        background-color: darken($support, 30)
    }
    &.option-bubble__label--cultural{
        background-color: darken($cultural, 30)
    }
    &.option-bubble__label--social{
        background-color: darken($social, 30)
    }
    &.option-bubble__label--learning{
        background-color: darken($learning, 30)
    }



}

.option-bubble__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;
    background: $shadow;
    border-radius: 30px;
    font-size: 1em;
    color: $darkText;
    padding: 0px 25px;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover{
        filter: brightness(0.95);
    }
}

.option-bubble__helptext{
    font-weight: normal;
    display: block;
    font-size: 0.9em;
    color: $lightText;
}

.option-bubble__label--support{
    background-color: transparentize($support, 0.7);
}
.option-bubble__label--social{
    background-color: transparentize($social, 0.7);
}
.option-bubble__label--cultural{
    background-color: transparentize($cultural, 0.7);
}
.option-bubble__label--learning{
    background-color: transparentize($learning, 0.7);
}
.option-bubble__label--active{
    background-color: transparentize($active, 0.7);
}