@import '../vars';

.button{
    display: block;
    width: 100%;
    text-align: center;
    background: $link;
    border-radius: 30px;
    font-size: 1.1em;
    color: $white;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-out;
    max-width: 365px;
    &[disabled]{
        background: $shadow;
        cursor: inherit;
        pointer-events: none;
    }
    &:hover{
        filter: brightness(0.95);
        &:after{
            transform: translateX(3px)
        }
    }
    &:after{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 62.75'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffffff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M5.75,62.75a5.5,5.5,0,0,1-3.89-9.39L23.72,31.5,1.61,9.39A5.5,5.5,0,0,1,9.39,1.61l26,26a5.5,5.5,0,0,1,0,7.78L9.64,61.14A5.49,5.49,0,0,1,5.75,62.75Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        display: inline-block;
        height: 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 10px;
        margin-left: 10px;
        opacity: 0.75;
        transition: 0.1s ease-in-out;
    }
    @media screen and (min-width: $desktop){
        padding: 12px 55px;
        display: inline-block;
        font-size: 1.2em;
        width: initial;
    }
    &.button--white{
        background: $white;
        color: $darkText;
        &:after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 62.75'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%231E2428;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M5.75,62.75a5.5,5.5,0,0,1-3.89-9.39L23.72,31.5,1.61,9.39A5.5,5.5,0,0,1,9.39,1.61l26,26a5.5,5.5,0,0,1,0,7.78L9.64,61.14A5.49,5.49,0,0,1,5.75,62.75Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }
    &.button--with-bottom-margin{
        margin-bottom: 40px;
        @media screen and(min-width: $desktop){
            margin-bottom: 45px;
        }
    }
    &.button--centred{
        &:after{
            display: none;
        }
        background-color: $darkText;
        display: block;
        max-width: 300px;
        margin: 20px auto;
    }
}