@import "../../components/vars";

.map-view{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0px 20px;
    background: $background;
    flex: 1;
}

.map-view__list{
    width: 500px;
    padding-right: 20px;
    height: 100%;
    overflow-y: scroll
}

.map-view__map{
    margin-left: 20px;
    flex: 1;
    background: grey;
    margin-bottom: 20px;
}