@import '../vars';

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 3px $focus;
}

.container{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $tablet){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.visually-hidden{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.section-title{
    font-size: 1.8em;
    margin-bottom: 15px;
    color: $darkText;
    @media screen and (min-width: $tablet){
        font-size: 2.6em;
        margin-bottom: 25px;
    }
}