@import '../vars';

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:focus, input:focus, button:focus{
    outline: none;
    box-shadow: 0 0 0 3px $focus;
}

.container{
    width: 100%;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $tablet){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.visually-hidden{
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.section-title{
    font-size: 1.8em;
    margin-bottom: 15px;
    color: $darkText;
    @media screen and (min-width: $tablet){
        font-size: 2.6em;
        margin-bottom: 25px;
    }
}

hr{
    border: none;
    border-top: 2px solid $shadow;
    margin: 25px 0px;
    display: block;
}

.layout--full-height{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a{
    color: $link;
    &:hover{
        text-decoration: none;
    }
}