@import '../vars';

.promo{
    list-style: none;
}

.promo__link{
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    &:hover{
        .promo__title{
            text-decoration: none;
        }
    }
}

.promo__title{
    color: $darkText;
    font-size: 1.4em;
    margin-bottom: 5px;
    text-decoration: underline;
    @media screen and (min-width: $desktop){
        font-size: 1.5em;
    }
}

.promo__description{
    color: $lightText;
    font-size: 0.95em;
    @media screen and (min-width: $tablet){
        font-size: 1em;
    }
    @media screen and (min-width: $desktop){
        font-size: 1.1em;
    }
}