@import '../vars';

.columns-with-divider{
    padding-bottom: 40px;
    @media screen and (min-width: $tablet) {
        padding-bottom: 60px;
    }
    @media screen and (min-width: $desktop) {
        padding-bottom: 80px;
    }
}

.columns-with-divider__column{
    @media screen and (min-width: $tablet){
        display: inline-block;
        width: calc(50%);
        vertical-align: top;
        &:last-of-type{
            padding-left: 30px;
            margin-right: 0px;
            border-left: 1px solid $shadow;
        }
        &:first-of-type{
            padding-right: 30px;
        }
    }

}