@import '../vars';

[data-reach-dialog-overlay]{
    background: transparentize(black, 0.15)
}

.filter-button{
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    color: $darkText;
    margin-right: 20px;
    padding: 10px 0px;
    &:after{
        content: "";
        height: 12px;
        width: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        margin-left: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231E2428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &.filter-button--active{
        font-weight: bold;
    }
}


.filter-dialog{
    position: relative;
    max-width: 350px;
    z-index: 5;
    border-radius: 10px;
    padding: 0px;
    // overflow: hidden;
    box-shadow: 0px 2px 6px transparentize($darkText, 0.8);
}

.filter-dialog__body{
    padding: 20px;
    @media screen and (min-width: $tablet){
        padding: 30px;
    }
}

.filter-dialog__footer{
    background-color: $shadow;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-dialog__title{
    margin-bottom: 20px;
}

.filter-dialog__action{
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    color: $darkText;
    padding: 20px;
    border: none;
    border-bottom-right-radius: 10px;
    background: none;
    @media screen and (min-width: $tablet){
        padding: 20px 30px;
    }
    &.filter-dialog__action--secondary{
        font-weight: normal;
        color: $lightText;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}

.checkbox-item{
    margin-bottom: 10px;
    &:focus-within{
        .checkbox-item__label:before{
            outline: none;
            box-shadow: 0 0 0 3px $focus;
        }
    }
}

.checkbox-item__input:checked + .checkbox-item__label:before{
    background-image: url('./tick.svg');
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat
}

.checkbox-item__label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:before{
        content: "";
        display: inline-block;
        height: 25px;
        width: 25px;
        background: $activeCard;
        border-radius: 4px;
        border: 2px solid $darkText;
        margin-right: 15px;
    }
}