@import '../vars';

.filter-button{
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    color: $darkText;
    margin-right: 20px;
    &:after{
        content: "";
        height: 12px;
        width: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        margin-left: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231E2428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}


.filter-dialog{
    position: relative;
    z-index: 5;
    border-radius: 10px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 6px transparentize($darkText, 0.8);
}

.filter-dialog__body{
    padding: 20px;
    @media screen and (min-width: $tablet){
        padding: 30px;
    }
}

.filter-dialog__footer{
    background-color: $shadow;
    padding: 20px;
    @media screen and (min-width: $tablet){
        padding: 20px 30px;
    }
}

.filter-dialog__title{
    margin-bottom: 20px;
}