@import '../vars';

[data-reach-dialog-overlay]{
    background: transparentize(white, 0.15)
}

.filter-button{
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    color: $darkText;
    margin-right: 25px;
    padding: 10px 0px;
    &:after{
        content: "";
        height: 12px;
        width: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        position: absolute;
        right: 0px;
        margin-left: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231E2428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &.filter-button--active{
        font-weight: bold;
    }
    display: block;
    text-align: left;
    width: 100%;
    @media screen and (min-width: $tablet){
        &:after{
            position: inherit;
            right: 0px;
            margin-left: 10px;
        }
        width: initial;
        display: inline-block;
    }
}


.filter-dialog{
    position: relative;
    max-width: 450px;
    z-index: 5;
    border-radius: 10px;
    padding: 0px;
    width: 90vw;
    border: 1px solid $shadow;
    box-shadow: $shadow 0px 14px 36px 2px !important;
}

.filter-dialog__body{
    padding: 20px;
    @media screen and (min-width: $tablet){
        padding: 30px;
    }
}

@supports (display: grid){
    .filter-dialog__options{
        @media screen and (min-width: $tablet){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 10px;
            .checkbox-item{
                margin-bottom: 0px;
            }

        }
    }
}

.filter-dialog__footer{
    background-color: $background;
    border: 1px solid $background;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-dialog__title{
    margin-bottom: 20px;
    margin-right: 50px;
}

.filter-dialog__action{
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    color: $darkText;
    padding: 20px;
    background: none;
    border: none;
    border-bottom-right-radius: 10px;
    @media screen and (min-width: $tablet){
        padding: 20px 30px;
    }
    &:hover{
        background: transparentize($darkText, 0.95);
    }
    &.filter-dialog__action--secondary{
        font-weight: normal;
        color: $lightText;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 10px;
        order: -1;
    }
}

.checkbox-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:focus-within{
        .checkbox-item__label:before{
            outline: none;
            box-shadow: 0 0 0 3px $focus;
        }
    }
}

.checkbox-item__input:checked + .checkbox-item__label:before{
    background-image: url('./tick.svg');
    background-size: 18px;
    background-position: center;
}

.checkbox-item__label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    &:before{
        content: "";
        display: inline-block;
        height: 25px;
        width: 25px;
        min-width: 25px;
        background: $activeCard;
        background-repeat: no-repeat;
        border-radius: 4px;
        border: 2px solid $darkText;
        margin-right: 15px;
    }
}

.checkbox-item__help-text{
    font-size: 0.9em;
    color: $lightText;
}

.filter-dialog__text-label{
    display: inline-block;
    font-size: 0.95em;
    margin-bottom: 10px;
    color: $darkText;
}

.filter-dialog__text-input{
    border: 2px solid $darkText;
    font-size: 0.95em;
    background: $white;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.filter__close{
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.filter__close-icon{
    width: 20px;
    height: 20px;
}