@import '../vars';

.hero{
    background: $darkText;
    color: $white;
    position: relative;
    @media screen and (min-width: $tablet){
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./hero.jpg');
            background-size: cover;
            background-position: center;
            opacity: 0.075;
        }
    }
    &.hero--needs{
        text-align: center;
        .hero__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
        }
        // &:after{
        //     position: absolute;
        //     display: block;
        //     content: "";
        //     z-index: 4;
        //     bottom: 17px;
        //     width: 50px;
        //     height: 50px;
        //     border-radius: 100%;
        //     background: $shadow;
        //     left: 50%;
        //     background-size: 20px;
        //     background-position: 15px 22px;
        //     background-repeat: no-repeat;
        //     transform: translateX(-50%);
        //     background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231E2428' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        // }
        @media screen and (min-width: $tablet){
            &:before{
                background-image: url('./needs-hero.jpg');
            }
            // &:after{
            //     bottom: 25px;
            // }
        }
        @media screen and (min-width: $desktop){
            .hero__inner{
                padding-bottom: 40px;
            }
        }
    }
    
}

.hero__inner{
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    @media screen and (min-width: $tablet){
        padding-top: 40px;
    }
    @media screen and (min-width: $desktop){
        padding-top: 60px;
    }
    // IE11 fix
    &:focus{
        box-shadow: none;
    }
}

.hero__title{
    margin-bottom: 10px;
    font-size: 2em;
    @media screen and (min-width: $tablet){
        font-size: 2.5em;
        max-width: 45%;
    }
}

.hero__description{
    font-size: 1.1em;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet){
        margin-bottom: 60px;
        font-size: 1.5em;
        max-width: 45%;
    }
    @media screen and (min-width: $desktop){
        margin-bottom: 80px;
    }
    @media screen and (min-width: $largeDesktop){
        margin-bottom: 120px;
    }
}

.hero__triangle{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    height: 80px;
    @media screen and (min-width: $tablet){
        height: 100px;
    }
}