@import '../vars';

.hero{
    background: $darkText;
    color: $white;
    padding-bottom: 40px;
}

.hero__inner{
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
}

.hero__title{
    margin-bottom: 10px;
    font-size: 2em;
}

.hero__description{
    font-size: 1.1em;
}