@import '../vars';

.hero{
    background: lighten($darkText, 10);
    color: $white;
    position: relative;
    // @media screen and (min-width: $tablet){
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('./hero.jpg');
            background-size: cover;
            background-position: center;
            opacity: 0.1;
        }
    // }
    &.hero--needs{
        text-align: center;
        .hero__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
        }
        &:before{
            background-image: url('./needs-hero.jpg');
        }
        @media screen and (min-width: $tablet){

            .hero__title{
                    max-width: 45%;
            }
            .hero__description{
                max-width: 55%;
        }
        }
        @media screen and (min-width: $desktop){
            .hero__inner{
                padding-bottom: 40px;
            }
        }
    }

}

.hero__inner{
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
    @media screen and (min-width: $tablet){
        padding-top: 40px;
    }
    @media screen and (min-width: $desktop){
        padding-top: 60px;
    }
    // IE11 fix
    &:focus{
        box-shadow: none;
    }
}

.hero__title{
    margin-bottom: 10px;
    font-size: 2em;
    @media screen and (min-width: $tablet){
        font-size: 2.5em;
        max-width: 45%;
    }
}

.hero__description{
    font-size: 1.1em;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet){
        margin-bottom: 60px;
    }
    @media screen and (min-width: $desktop){
        margin-bottom: 80px;
    }
    @media screen and (min-width: $largeDesktop){
        margin-bottom: 120px;
    }
    @media screen and (min-width: $tablet){
        font-size: 1.5em;
        max-width: 45%;
    }
}

.hero__triangle{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 80px;
    @media screen and (min-width: $tablet){
        height: 100px;
    }
}

.hero__all-services{
    margin-top: 10px;
    display: block;
    // font-size: 1em;
    font-style: italic;
    color: transparentize($white, 0.25);
    a{
        color: transparentize($white, 0.25);
    }
    @media screen and (min-width: $tablet){
            font-size: 0.8em;
    }
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.hero__scroll-on{
    position: absolute;
    bottom: 45px;
    width: 50px;
    left: 0px;
    right: 0px;
    margin: 0px auto 10px auto;
    animation: fadeInDown 0.5s ease-out;
    // animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    @media screen and (min-width: $tablet){
        bottom: 60px;
    }
    @media screen and (min-width: $largeDesktop){
        width: 70px;
    }
}