
// typography
$darkText: #1E2428;
$lightText: #425563;

// links
$bright: #6EDDB0;
$link: #0A7F70;

// backgrounds
$shadow: #D8DDE0;
$background: #F1F4F3;
$white: #ffffff;

// psuedostates
$focus: #ffb81C;
$activeCard: #fafafa;


$maxWidth: 1000px;


// Breakpoints
$smartphone: 250px;
$tablet: 750px;
$desktop: 1000px;
$largeDesktop: 1500px;