
// typography
$darkText: #1E2428;
$lightText: #555F66;

// links
$link: #20825F;

// backgrounds
$shadow: #D8DDE0;
$background: #F0F3F2;
$white: #ffffff;

// psuedostates
$focus: #ffb81C;
$activeCard: #fafafa;

// service colours
$active: #98D9CA;
$support: #F7ADB6;
$learning: #BBEAFA;
$cultural: #FAC9A3;
$social: #A9BAE1;

$maxWidth: 1000px;

// Breakpoints
$smartphone: 250px;
$tablet: 750px;
$desktop: 1000px;
$largeDesktop: 1500px;