@import '../vars';

.page-header{
    padding-top: 20px;
    padding-bottom: 40px;
    @media screen and (min-width: $desktop){
        padding-top: 40px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: $largeDesktop){
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

.page-header__title{
    font-size: 2em;
    color: $darkText;
    margin-bottom: 20px;
    @media screen and (min-width: $desktop){
        font-size: 2.8em;
        max-width: 66.67%
        // padding-bottom: 60px;
    }
}

.page-header__lede{
    color: $lightText;
    font-size: 1.1em;
    @media screen and (min-width: $desktop){
        font-size: 1.3em;
        max-width: 66.67%
    }
}


// Breadcrumbs
.breadcrumbs{
    margin-bottom: 5px;
    @media screen and (min-width: 900px) {
        margin-bottom: 10px;
    }
}

.breadcrumbs__item{
    display: inline;
    font-size: 0.95em;
    color: $lightText;
    position: relative;
    margin-right: 25px;
    @media screen and (min-width: 600px) {
        margin-right: 30px;
    }
    &:before{
        content: "";
        height: 10px;
        width: 5px;
        top: 6px;
        left: -15px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4.5 4.5L1 8' stroke='%23425563' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        @media screen and (min-width: $tablet) {
            height: 12px;
            width: 7px;
            left: -18px
        }
        @media screen and (min-width: $desktop) {
            height: 13px;

        }
    }
    &:first-of-type:before{
        display: none;
    }
    &:last-of-type{
        margin-right: 0;
        padding-right: 0;
    }
    @media screen and (min-width: $tablet) {
        font-size: 1em;
    }
    @media screen and (min-width: $desktop) {
        font-size: 1.1em;
    }
}

.breadcrumbs__link{
    color: $lightText;
    &:hover{
        text-decoration: none;
    }
}