@import '../vars';

.mobile-nav{
    @media screen and (min-width: $tablet){
        display: none;
    }
}

.mobile-menu{
    position: absolute;
    right: 20px;
    left: 20px;
    top: 70px;
    z-index: 3;
    background: $white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    list-style: none;
    display: none;
    &.mobile-menu--visible{
        display: block;
    }
    @media screen and (min-width: $tablet){
        display: none !important;
    }
    li:first-of-type a{
        padding-top: 20px;
    }
    li:last-of-type a{
        padding-bottom: 20px;
    }
}

.mobile-menu__link{
    display: block;
    text-align: left;
    margin: 0px;
    padding: 12px 20px;
    font-weight: bold;
    text-decoration: none;
    color: $darkText;
    font-size: 1.1em;
    &:focus{
        outline: none;
        box-shadow: none;
        background: $shadow;
        color: $darkText;
    }
}