@import '../vars';

.is-page-useful{
    border-bottom: 4px solid $shadow;
}

.is-page-useful--with-overlap{
    margin-top: -42px;
}

.is-page-useful__panel{
    background: $shadow;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    max-width: 250px;
    justify-content: space-between;
}

.is-page-useful__button{
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}