@import '../vars';

.centred-text{
    padding: 40px 0px;
    text-align: center;
    @media screen and (min-width: $desktop){
        padding: 60px 0px;
    }
    @media screen and (min-width: $largeDesktop){
        padding: 80px 0px;
    }
}

.centred-text__inner{
    max-width: 600px;
}

.centred-text__title{
    margin-bottom: 10px;
    color: $darkText;
    font-size: 2em;
}

.centred-text__description{
    color: $darkText;
    font-size: 1.1em;
}