@import '../vars';

.recommendations{
    background: $background;
    padding: 40px 0px;
    @media screen and (min-width: $tablet){
        padding: 60px 0px;
    }
}

.services__section-title, .advice__section-title{
    margin-bottom: 10px;
    font-weight: normal;
    max-width: 580px;
    @media screen and (min-width: $tablet){
        margin-bottom: 0px;
    }
}

.services__header, .advice__header{
    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    margin-bottom: 25px;
}

.advice__header{
    margin-top: 40px;
    @media screen and (min-width: $tablet){
        margin-top: 60px;
    }
}

.saved{
    margin-bottom: 40px;
    @media screen and (min-width: $tablet){
        margin-bottom: 60px;
    }
}