@import '../vars';

.recommendations{
    background: $background;
    padding: 40px 0px;
    @media screen and (min-width: $tablet){
        padding: 60px 0px;
    }
}

.recommendations__section-title{
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 1.3em;
    color: $darkText;
    @media screen and (min-width: $desktop){
        font-size: 1.5em;
        margin-bottom: 25px;
    }
}

.recommendations__section-title--with-top-margin{
    margin-top: 40px;
    @media screen and (min-width: $desktop){
        margin-top: 60px
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.recommendations__loader{
    animation: fadeIn 0.1s ease-out;
    animation-delay: 0.3s;
    margin: 22px auto;
    display: block;
    opacity: 0;
    animation-fill-mode: forwards;
}