@import '../vars';

.site-footer{
    background: $shadow;
    padding: 40px 0px;
    a{
        color: $darkText;
        &:hover{
            text-decoration: none;
        }
    }
}

.site-footer__menu{
    list-style: none;
    margin-bottom: 15px;
}

.site-footer__menu-item{
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9em;
    @media screen and (min-width: $tablet){
        font-size: 0.95em;
    }
}

.site-footer__text{
    font-size: 0.9em;
    @media screen and (min-width: $tablet){
        font-size: 0.95em;
    }
}