@import "../components/vars";

.detail__actions{
    margin-bottom: 25px;
    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.share-button{
    font-size: 1em;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:before{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $darkText;
        content: "";
        display: inline-block;
        background-image: url("./send.svg");
        background-size: 19px;
        background-position: center;
        background-repeat: no-repeat;
    }
    &:hover{
        &:before{
            background-color: lighten($darkText, 5)
        }
    }
}