@import '../vars';

.search__icon{
    width: 19px;
    height: 19px;
    transform: translateY(2px)
}

.search{
    position: relative;
    &.search--large{
        .search__input{
            font-size: 1.1em;
            padding: 12px 50px 12px 25px;
        }
        .search__submit{
            right: 0px;
            bottom: 0px;
            width: 55px;
            border-radius: 0px 20px 20px 0px;
        }
    }

}

.search__input{
    background: $white;
    border-radius: 100px;
    font-size: 0.95em;
    color: $darkText;
    padding: 10px 50px 10px 20px;
    border: none;
    width: 100%;
    border: 1px solid $shadow;
    -webkit-appearance: none;
}

.search__submit{
    position: absolute;
    right: 0px;
    border: none;
    background: none;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
    width: 45px;
    border-radius: 0px 20px 20px 0px;
}