@import "../vars";

.favourite-button{
    position: relative;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 100%;
    &.favourite-button--labelled{
        border-radius: 0px;
        .favourite-button__icon{
            margin-right: 10px;
            background: $background;
            opacity: 0;
            transform: scale(0);
            transition: 0.1s;
        }
    }
    &:hover{
        .favourite-button__icon{
            background: $background;
            opacity: 1;
            transform: scale(1)
        }
    }
}

.favourite-button__icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}