@import "../vars";

.favourite-button--unlabelled{
    position: relative;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 100%;
    &:hover{
        .favourite-button__icon{
            background: $background;
        }
    }
}

.favourite-button__icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.favourite-button--labelled{
    position: relative;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 10px;
    .favourite-button__icon{
        margin-right: 5px;
    }
    &:hover{
        .favourite-button__icon{
            background: $background;
        }
    }
}